body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

[data-tooltip] {
  display: inline;
  position: relative;

  &:hover:after {
    background: black;
    border-radius: 4px;
    bottom: 26px;
    color: var(--c-white);
    content: attr(data-tooltip);
    right: -400%;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    z-index: 98;
    width: 130px;
  }

  &:hover:before {
    border: solid;
    border-color: black transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: '';
    left: 10%;
    position: absolute;
    z-index: 99;
  }
}

// native elements
input {
  &:hover, &:focus {
    outline: 2px solid var(--orange);
  }
}

select {
  &:hover, &:focus, &:active {
    box-shadow: 0 0 0 2px var(--orange) inset;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c-black);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  //background: var(--c-gray--rgb);
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::selection {
  background: var(--c-gray--rgb);
  color: #fff;
}
