@mixin colors-root {
  --c-white: #fff;
  --c-light-01: #ebeff1;

  --c-black: #000;

  --c-gray--rgb: rgba(0, 0, 0, .2);

  --c-blue: #24538b;
  --c-green: #248b28;

  --c-red: #f61f1f;
  --c-red-01: #ff2d2d;

  --c-yellow: #ffbd14;
}
