@mixin gaps-root {
  --gap-xxs: 8px;
  --gap-xs: 10px;
  --gap-xsl: 12px;
  --gap-sm: 16px;
  --gap-sml: 20px;
  --gap-md: 24px;
  --gap-mdl: 32px;
  --gap-lg: 36px;
  --gap-xl: 40px;
  --gap-xw: 48px;
}
